<!-- prettier-ignore -->
{% extends 'myapp/base.html' %} 
{% block title %}Create New Task{% endblock %}

{% block content %}
<div class="card">
  <h2>Create New Task</h2>

  <form method="post" class="mt-2">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">Title</label>
      {{ form.title }}
    </div>

    <div class="form-group">
      <label for="{{ form.description.id_for_label }}">Description</label>
      {{ form.description }}
    </div>

    <div class="form-group">
      <label for="{{ form.due_date.id_for_label }}">Due Date</label>
      {{ form.due_date }}
    </div>

    <div class="form-group">
      <label for="{{ form.status.id_for_label }}">Status</label>
      <div class="select-wrapper">{{ form.status }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
</div>

<p class="mt-2">
  <a href="{% url 'project_detail' project.id %}" class="btn btn-secondary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M19 12H5M12 19l-7-7 7-7" />
    </svg>
    Back to Project
  </a>
</p>
{% endblock %}
